<body id="page-top" class="landing-page no-skin-config">
  <div class="navbar-wrapper">
    <nav class="navbar navbar-default navbar-fixed-top navbar-expand-md" role="navigation">
      <div class="container">
        <a class="navbar-brand" href="<%= new_user_session_path %>">INGRESAR</a>
                <div class="navbar-header page-scroll">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar">
                        <i class="fa fa-bars"></i>
                    </button>
                </div>
                <div class="collapse navbar-collapse justify-content-end" id="navbar">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a class="nav-link page-scroll" href="#page-top">Home</a></li>
                    </ul>
                </div>
            </div>
        </nav>
</div>
<div id="inSlider" class="carousel slide" data-ride="carousel" >
    <ol class="carousel-indicators">
        <li data-target="#inSlider" data-slide-to="0" class="active"></li>
        <li data-target="#inSlider" data-slide-to="1"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="carousel-item active">
            <div class="container">
                <div class="carousel-caption">
                    <h1>We craft<br/>
                        brands, web apps,<br/>
                        and user interfaces<br/>
                        we are IN+ studio</h1>
                    <p>Lorem Ipsum is simply dummy text of the printing.</p>
                    <p>
                        <a class="btn btn-lg btn-primary" href="#" role="button">READ MORE</a>
                        <a class="caption-link" href="#" role="button">Inspinia Theme</a>
                    </p>
                </div>
                <div class="carousel-image wow zoomIn">
                    <img src="<%= asset_path 'laptop.png' %>" alt="laptop"/>
      </div>
    </div>
    <!-- Set background for slide in css -->
    <div class="header-back one"></div>
  </div>
  <div class="carousel-item">
    <div class="container">
      <div class="carousel-caption blank">
        <h1>We create meaningful <br/>
           interfaces that inspire.</h1>
        <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam.</p>
        <p><a class="btn btn-lg btn-primary" href="#" role="button">Learn more</a></p>
      </div>
    </div>
    <!-- Set background for slide in css -->
    <div class="header-back two"></div>
  </div>
</div>
<a class="carousel-control-prev" href="#inSlider" role="button" data-slide="prev">
  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
  <span class="sr-only">Previous</span>
</a>
<a class="carousel-control-next" href="#inSlider" role="button" data-slide="next">
  <span class="carousel-control-next-icon" aria-hidden="true"></span>
  <span class="sr-only">Next</span>
</a>
</div>
<section id="features" class="container services">
  <div class="row">
    <div class="col-sm-3">
      <h2>Full responsive</h2>
      <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus.</p>
      <p><a class="navy-link" href="#" role="button">Details &raquo;</a></p>
    </div>
    <div class="col-sm-3">
      <h2>LESS/SASS Files</h2>
      <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus.</p>
      <p><a class="navy-link" href="#" role="button">Details &raquo;</a></p>
    </div>
    <div class="col-sm-3">
      <h2>6 Charts Library</h2>
      <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus.</p>
      <p><a class="navy-link" href="#" role="button">Details &raquo;</a></p>
    </div>
    <div class="col-sm-3">
      <h2>Advanced Forms</h2>
      <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus.</p>
      <p><a class="navy-link" href="#" role="button">Details &raquo;</a></p>
    </div>
  </div>
</section>
<!-- Mainly scripts -->
<script src="<%= asset_path 'jquery-3.1.1.min.js' %>"></script>
<script src="<%= asset_path 'popper.min.js' %>"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
<script src="<%= asset_path 'jquery.metisMenu.js' %>"></script>
<script src="<%= asset_path 'jquery.slimscroll.min.js' %>"></script>
<!-- Custom and plugin javascript -->
<script src="<%= asset_path 'inspinia.js' %>"></script>
<script src="<%= asset_path 'pace.min.js' %>"></script>
<script src="<%= asset_path 'wow.min.js' %>"></script>
<script>
  $(document).ready(function () {
  
      $('body').scrollspy({
          target: '#navbar',
          offset: 80
      });
  
      // Page scrolling feature
      $('a.page-scroll').bind('click', function(event) {
          var link = $(this);
          $('html, body').stop().animate({
              scrollTop: $(link.attr('href')).offset().top - 50
          }, 500);
          event.preventDefault();
          $("#navbar").collapse('hide');
      });
  });
  
  var cbpAnimatedHeader = (function() {
      var docElem = document.documentElement,
              header = document.querySelector( '.navbar-default' ),
              didScroll = false,
              changeHeaderOn = 200;
      function init() {
          window.addEventListener( 'scroll', function( event ) {
              if( !didScroll ) {
                  didScroll = true;
                  setTimeout( scrollPage, 250 );
              }
          }, false );
      }
      function scrollPage() {
          var sy = scrollY();
          if ( sy >= changeHeaderOn ) {
              $(header).addClass('navbar-scroll')
          }
          else {
              $(header).removeClass('navbar-scroll')
          }
          didScroll = false;
      }
      function scrollY() {
          return window.pageYOffset || docElem.scrollTop;
      }
      init();
  
  })();
  
  // Activate WOW.js plugin for animation on scrol
  new WOW().init();
</script>
</body>
