<div class="row">
  <div class="col-lg-12">
    <div class="ibox">
      <div class="ibox-title">
        <h5>Actualizar Datos de Usuario</h5>
        <div class="ibox-tools">
          <a class="collapse-link">
            <i class="fa fa-chevron-up"></i>
          </a>
        </div>
      </div>
      <div class="ibox-content">
        <div class="sk-spinner sk-spinner-cube-grid">
          <div class="sk-cube"></div>
          <div class="sk-cube"></div>
          <div class="sk-cube"></div>
          <div class="sk-cube"></div>
          <div class="sk-cube"></div>
          <div class="sk-cube"></div>
          <div class="sk-cube"></div>
          <div class="sk-cube"></div>
          <div class="sk-cube"></div>
        </div>
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
          <div class="form-group">
            <%= f.label :Avatar %>
            <div class="col-sm-10">
              <%= f.file_field :avatar, class: "" %>
            </div>
          </div>
          <div class="form-group">
            <%= f.label :Nombre %>
            <div class="col-sm-10">
              <%= f.text_field :name, autofocus: true, class: "form-control" %>
            </div>
          </div>
          <div class="form-group">
            <%= f.label :Correo %>
            <div class="col-sm-10">
              <%= f.email_field :email, autocomplete: "email", class: "form-control" %>
            </div>
          </div>
          <div class="form-group">
            <%= f.label :Contraseña %> <i>(Dejar en Blanco si no se Desea Actualizar)</i>
            <div class="col-sm-10">
              <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
              <% if @minimum_password_length %>
                <em>Mínimo <%= @minimum_password_length %> Caracteres</em>
              <% end %>
            </div>
          </div>
          <div class="form-group">
            <%= f.label :Confirmar_Contraseña %>
            <div class="col-sm-10">
              <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
            </div>
          </div>
          <div class="form-group">
            <%= f.label :Contraseña_Actual %> <i>(debes ingresar tu contraseña actual para confirmar los cambios)</i>
            <div class="col-sm-10">
              <%= f.password_field :current_password, autocomplete: "off", class: "form-control" %>
            </div>
          </div>
          <div class="form-group">
            <%= f.label :Tema %>
            <div class="col-sm-10">
              <%= f.select :theme, options_for_select([['Tema por defecto', ''], ['Blue Light', 'skin-1'], ['Inspinia Ultra', 'skin-2'], ['Yellow/purple', 'skin-3'], ['Material Design', 'md-skin']], current_user.theme), {}, {class: "form-control"} %>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-sm-4 col-sm-offset-2">
              <%= link_to "Atrás", root_path, class: "btn btn-white btn-sm" %>
              <%= f.submit "Actualizar", class: "btn btn-primary btn-sm update_user" %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<script>
  $('.update_user').on('click', function() {
    $('.ibox-content').toggleClass('sk-loading')
  })
  $('.update_user').closest('div').find('a').on('click', function() {
    $('.ibox-content').toggleClass('sk-loading')
  })
</script>
