<body class="gray-bg">
  <div class="middle-box text-center loginscreen animated fadeInDown">
    <div>
      <div>
        <h1 class="logo-name">IN+</h1>
      </div>
      <h3>Welcome to IN+</h3>
      <p>Perfectly designed and precisely prepared admin theme with over 50 pages with extra new web app views.
        <!--Continually expanded and constantly improved Inspinia Admin Them (IN+)-->
      </p>
      <p>Login in. To see it in action.</p>
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: 'm-t'}) do |f| %>
        <div class="form-group">
          <%= f.email_field :email, autocomplete: "email", class: "form-control", placeholder: 'Ingresar Correo' %>
        </div>
        <div class="form-group">
          <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "off", class: "form-control", placeholder: 'Ingresar Contraseña' %>
        </div>
        <div class="form-group">
          <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control", placeholder: 'Confirmar Contraseña' %>
        </div>
        <div class="actions">
          <%= f.submit "Registrarse", class: "btn btn-primary block full-width m-b" %>
        </div>
      <% end %>
      <%= render "devise/shared/links" %>
      <p class="m-t"> <small>Inspinia we app framework base on Bootstrap 3 &copy; 2014</small> </p>
    </div>
  </div>
  <!-- Mainly scripts -->
  <script src="js/jquery-3.1.1.min.js"></script>
  <script src="js/popper.min.js"></script>
  <script src="js/bootstrap.js"></script>
</body>
