<div class="ibox ">
  <div class="ibox-title">
    <h5 contenteditable='true' id='chartName'><%= @chart&.name %></h5>
  </div>
  <div class="ibox-content" id='chart-container'>
    <%= render "charts/charts/#{@chart.chart_type}chart" %>
  </div>
</div>
