<% @chart.data_centers.each do |dc| %>
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox">
        <div class="ibox-title">
          <h5><%= dc.name %></h5>
        </div>
        <div class="ibox-tools">
          <a href="<%= edit_chart_data_center_path(@chart, dc) %>" class='btn btn-primary btn-xs'>Editar Centro de Datos</a>
          <a href="<%= chart_data_center_path(@chart, dc) %>" data-method='delete' data-confirm='¿Estás Seguro(a)?' class='btn btn-danger btn-xs'>Eliminar Centro de Datos</a>
          <a></a><a></a><a></a>
        </div>
        <div class="ibox-content">
          <table class='table table-bordered'>
            <thead>
              <tr>
                <% dc.center_values.each do |cv| %>
                  <td><%= cv.x_value.name %></td>
                <% end %>
              </tr>
            </thead>
            <tbody>
              <tr>
                <% dc.center_values.each do |cv| %>
                  <td contenteditable='true' class='center-value' data-id='<%= cv.id %>'><%= cv.value %></td>
                <% end %>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
<% end %>
