<body class="gray-bg">
  <div class="passwordBox animated fadeInDown">
    <div class="row">
      <div class="col-md-12">
        <div class="ibox-content">
          <h2 class="font-bold">Forgot password</h2>
          <p>
            Enter your email address and your password will be reset and emailed to you.
          </p>
          <div class="row">
            <div class="col-lg-12">
              <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, class: "m-t" }) do |f| %>
                <div class="form-group">
                  <%= f.email_field :email, autofocus: true, autocomplete: "email",class: "form-control", placeholder: 'Ingresar Correo' %>
                </div>
                <div class="actions">
                  <%= f.submit "Enviar Nueva Contraseña", class: "btn btn-primary block full-width m-b" %>
                </div>
              <% end %>
              <%= render "devise/shared/links" %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr/>
    <div class="row">
      <div class="col-md-6">
        Copyright Example Company
      </div>
      <div class="col-md-6 text-right">
        <small>© 2014-2015</small>
      </div>
    </div>
  </div>
</body>
