<div class="row border-bottom white-bg">
  <nav class="navbar navbar-expand-lg navbar-static-top" role="navigation">
    <a href="<%= root_path %>" class="navbar-brand">ChartsApp</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fas fa-bars"></i>
    </button>
    <!--</div>-->
    <div class="navbar-collapse collapse" id="navbar">
      <ul class="nav navbar-nav mr-auto">
        <li class="active">
          <a aria-expanded="false" role="button" href="<%= charts_path %>">Mis Gráficos</a>
        </li>
        <%# <li class="dropdown">
          <a aria-expanded="false" role="button" href="#" class="dropdown-toggle" data-toggle="dropdown"> Menu item</a>
          <ul role="menu" class="dropdown-menu">
            <li><a href="">Menu item</a></li>
            <li><a href="">Menu item</a></li>
            <li><a href="">Menu item</a></li>
            <li><a href="">Menu item</a></li>
          </ul>
        </li> %>
      </ul>
      <ul class="nav navbar-top-links navbar-right">
        <li>
          <a href="<%= destroy_user_session_path %>" data-method='delete'>
            Cerrar Sesión <i class="fas fa-sign-out-alt"></i>
          </a>
        </li>
      </ul>
    </div>
  </nav>
</div>
