<div class="row">
  <div class="col-lg-6">
    <div class="ibox ">
      <div class="ibox-title">
        <h5 contenteditable='true' id='chartName'><%= @chart.name %></h5>
      </div>
      <div class="ibox-tools">
        <%= select_tag :chart_type, options_for_select(@chart.select_type_options, @chart.chart_type), { class: 'form-control', id: 'chart_type' } %>
        <a></a><a></a><a></a>
      </div>
      <div class="ibox-content" id='chart-container'>
        <%= render "charts/charts/#{@chart.chart_type}chart" %>
      </div>
    </div>
  </div>
  <div class="col-lg-6">
    <div class="ibox ">
      <div class="ibox-title">
        <h5>Opciones del Gráfico</h5>
      </div>
      <div class="ibox-tools">
        <a href="<%= new_chart_data_center_path(@chart) %>" class='btn btn-primary btn-xs'><i class="fas fa-plus"></i> Nuevo Centro de Datos</a>
        <a></a><a></a><a></a>
      </div>
      <div class="ibox-content">
        <div class="form-group">
          <%= label_tag 'Columnas' %>
          <div>
            <%= text_field_tag :x_values, @chart.x_values.pluck(:name).join(','), { class:'tagsinput', id: 'xValueInput' } %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="dataCenters">
  <%= render 'charts/shared/data_centers' %>
</div>
