<div class="row">
  <div class="col-lg-6">
    <div class="ibox ">
      <div class="ibox-title">
        <h5>Historial</h5>
      </div>
      <div class="ibox-tools">
        <a href="<%= new_chart_path %>" class='btn btn-primary btn-xs'><i class="fas fa-plus"></i> Nuevo Gráfico</a>
        <a></a><a></a><a></a>
      </div>
      <div class="ibox-content">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Nombre</th>
              <th colspan='2'>Acción</th>
            </tr>
          </thead>
          <tbody>
            <% @charts.each do |chart| %>
              <tr>
                <td><%= link_to chart.name, edit_chart_path(chart) %></td>
                <td><%= button_tag 'Visualizar', class: 'btn btn-warning btn-xs display-chart', data: { id: chart.id } %></td>
                <td><%= link_to 'Eliminar', chart_path(chart), method: :delete, class: 'btn btn-danger btn-xs', data: { confirm: '¿Estás Seguro(a)?' } %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="col-lg-6" id='chartDisplay'>
    <% unless @chart.nil? %>
      <%= render '/charts/shared/chart_display' %>
    <% end %>
  </div>
</div>
