<div class="row">
  <div class="col-lg-12">
    <div class="ibox ">
      <div class="ibox-title">
        <h5>Nuevo Gráfico</h5>
      </div>
      <div class="ibox-content">
        <div class="row">
          <div class="col-sm-12">
            <%= form_with(model: @chart, local: true) do |form| %>
              <div class="form-group">
                <%= form.label :Nombre %>
                <%= form.text_field :name, class: 'form-control', placeholder: 'Mi Nuevo Gráfico...' %>
              </div>
              <div class="actions">
                <%= link_to 'Volver', charts_path, class: 'btn btn-default' %>
                <%= form.submit 'Crear Gráfico', class: 'btn btn-primary' %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
