<body class="gray-bg">
  <div class="loginColumns animated fadeInDown">
    <div class="row">
      <div class="col-md-6">
        <h2 class="font-bold">Welcome to IN+</h2>
        <p>
          Perfectly designed and precisely prepared admin theme with over 50 pages with extra new web app views.
        </p>
        <p>
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
        </p>
        <p>
          When an unknown printer took a galley of type and scrambled it to make a type specimen book.
        </p>
        <p>
          <small>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</small>
        </p>
      </div>
      <div class="col-md-6">
        <div class="ibox-content">
          <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: 'm-t'}) do |f| %>
            <div class="form-group">
              <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder: 'Ingresar Correo' %>
            </div>
            <div class="form-group">
              <%= f.password_field :password, autocomplete: "off", class: "form-control", placeholder: 'Ingresar Contraseña' %>
            </div>
            <% if devise_mapping.rememberable? -%>
              <div class="field">
                <%= f.check_box :remember_me %>
                <%= f.label :Recuérdame %>
              </div>
            <% end -%>
            <div class="actions">
              <%= f.submit "Ingresar", class: "btn btn-primary block full-width m-b" %>
            </div>
          <% end %>
          <%= render "devise/shared/links" %>
          <p class="m-t">
            <small>Inspinia we app framework base on Bootstrap 3 &copy; 2014</small>
          </p>
        </div>
      </div>
    </div>
    <hr/>
    <div class="row">
      <div class="col-md-6">
        Copyright Example Company
      </div>
      <div class="col-md-6 text-right">
        <small>© 2014-2015</small>
      </div>
    </div>
  </div>
</body>
