<%= form_with(model: data_center, url: [@chart, data_center], local: true) do |form| %>
  <% if data_center.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(data_center.errors.count, "error") %> prohibited this data_center from being saved:</h2>

      <ul>
      <% data_center.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :Nombre %>
    <%= form.text_field :name, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :Color %>
    <%= form.text_field :color, class: 'form-control colorpicker' %>
  </div>

  <div class="actions">
    <%= link_to 'Volver', edit_chart_path(@chart), class: 'btn btn-default' %>
    <%= form.submit 'Crear Centro de Datos', class: 'btn btn-primary' %>
  </div>
<% end %>
