<div class="row">
  <div class="col-lg-12">
    <div class="ibox ">
      <div class="ibox-title">
        <h5>Nuevo Centro de Datos</h5>
      </div>
      <div class="ibox-content">
        <div class="row">
          <div class="col-sm-12">
            <%= render 'form', data_center: @data_center %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
