<div id="ct-chart3" class="ct-perfect-fourth"></div>
<script>
  var labels = []

  <% @chart&.x_values&.pluck(:name)&.each do |value| %>
    labels.push('<%= value %>')
  <% end %>

  var data = {}
  <% @chart&.data_centers&.each do |dc| %>
    data[<%= dc.id %>] = []
    <% dc.center_values&.each do |cv| %>
      data[<%= dc.id %>].push('<%= cv.value %>')
    <% end %>
  <% end %>

  new Chartist.Bar('#ct-chart3', {
      labels: labels,
      series: [
        <% @chart&.data_centers&.each do |dc| %>
          data[<%= dc.id %>],
        <% end %>
      ]
  }, {
      // stackBars: true,
      axisY: {
          labelInterpolationFnc: function(value) {
              return (value / 1000) + 'k';
          }
      }
  }).on('draw', function(data) {
      if(data.type === 'bar') {
          data.element.attr({
              style: 'stroke-width: 30px'
          });
      }
  });
</script>