<div>
  <canvas id="barChart" height="140"></canvas>
</div>
<script>
  var labels = []

  <% @chart&.x_values&.pluck(:name)&.each do |value| %>
    labels.push('<%= value %>')
  <% end %>

  var data = {}
  <% @chart&.data_centers&.each do |dc| %>
    data[<%= dc.id %>] = []
    <% dc.center_values&.each do |cv| %>
      data[<%= dc.id %>].push('<%= cv.value %>')
    <% end %>
  <% end %>

  var barData = {
          labels: labels,
          datasets: [
              <% @chart&.data_centers&.each do |dc| %>
                {
                    label: "<%= dc.name %>",
                    backgroundColor: '<%= dc.color %>50',
                    borderColor: "<%= dc.color %>70",
                    pointBackgroundColor: "<%= dc.color %>",
                    pointBorderColor: "#fff",
                    data: data[<%= dc.id %>]
                },
              <% end %>
          ]
      };
  
      var barOptions = {
          responsive: true
      };
  
  
      var ctx2 = document.getElementById("barChart").getContext("2d");
      new Chart(ctx2, {type: 'bar', data: barData, options:barOptions});
</script>
