<div id="ct-chart4" class="ct-perfect-fourth"></div>
<script>
  var labels = []

  <% @chart&.x_values&.pluck(:name)&.each do |value| %>
    labels.push('<%= value %>')
  <% end %>

  var data = {}
  <% @chart&.data_centers&.each do |dc| %>
    data[<%= dc.id %>] = []
    <% dc.center_values&.each do |cv| %>
      data[<%= dc.id %>].push('<%= cv.value %>')
    <% end %>
  <% end %>

  new Chartist.Bar('#ct-chart4', {
      labels: labels,
      series: [
        <% @chart&.data_centers&.each do |dc| %>
          data[<%= dc.id %>],
        <% end %>
      ]
  }, {
      seriesBarDistance: 10,
      reverseData: true,
      horizontalBars: true,
      axisY: {
          offset: 70
      }
  })
</script>