<div id="ct-chart1" class="ct-perfect-fourth"></div>
<script>
  var labels = []

  <% @chart&.x_values&.pluck(:name)&.each do |value| %>
    labels.push('<%= value %>')
  <% end %>

  var data = {}
  <% @chart&.data_centers&.each do |dc| %>
    data[<%= dc.id %>] = []
    <% dc.center_values&.each do |cv| %>
      data[<%= dc.id %>].push('<%= cv.value %>')
    <% end %>
  <% end %>

  new Chartist.Line('#ct-chart1', {
      labels: labels,
      series: [
          <% @chart&.data_centers&.each do |dc| %>
            data[<%= dc.id %>],
          <% end %>
      ]
  }, {
      fullWidth: true,
      chartPadding: {
          right: 40
      }
  });
</script>