<div>
  <canvas id="lineChart" height="140"></canvas>
</div>
<script>
  var labels = []

  <% @chart&.x_values&.pluck(:name)&.each do |value| %>
    labels.push('<%= value %>')
  <% end %>

  var data = {}
  <% @chart&.data_centers&.each do |dc| %>
    data[<%= dc.id %>] = []
    <% dc.center_values&.each do |cv| %>
      data[<%= dc.id %>].push('<%= cv.value %>')
    <% end %>
  <% end %>

  var lineData = {
          labels: labels,
          datasets: [

            <% @chart&.data_centers&.each do |dc| %>
              {
                label: "<%= dc.name %>",
                backgroundColor: '<%= dc.color %>50',
                borderColor: "<%= dc.color %>70",
                pointBackgroundColor: "<%= dc.color %>",
                pointBorderColor: "#fff",
                data: data[<%= dc.id %>]
              },
            <% end %>
          ]
      };
  
      var lineOptions = {
          responsive: true
      };
  
  
      var ctx = document.getElementById("lineChart").getContext("2d");
      new Chart(ctx, {type: 'line', data: lineData, options:lineOptions});
</script>
