<div id="ct-chart5" class="ct-perfect-fourth"></div>
<script>
  var data = []
   <% @chart&.data_centers&.first&.center_values&.each do |cv| %>
    data.push(parseInt('<%= cv.value %>'))
   <% end %>
  var data = {
      series: data
  };

  var sum = function(a, b) { return a + b };

  new Chartist.Pie('#ct-chart5', data, {
      labelInterpolationFnc: function(value) {
          return Math.round(value / data.series.reduce(sum) * 100) + '%';
      }
  })
</script>