<div>
  <canvas id="radarChart"></canvas>
</div>
<script>
  var labels = []

  <% @chart&.x_values&.pluck(:name)&.each do |value| %>
    labels.push('<%= value %>')
  <% end %>

  var data = {}
  <% @chart&.data_centers&.each do |dc| %>
    data[<%= dc.id %>] = []
    <% dc.center_values&.each do |cv| %>
      data[<%= dc.id %>].push('<%= cv.value %>')
    <% end %>
  <% end %>

  var radarData = {
          labels: labels,
          datasets: [
              <% @chart&.data_centers&.each do |dc| %>
                {
                    label: "<%= dc.name %>",
                    backgroundColor: "<%= dc.color %>20",
                    borderColor: "<%= dc.color %>",
                    data: data[<%= dc.id %>]
                },
              <% end %>
          ]
      };
  
      var radarOptions = {
          responsive: true
      };
  
      var ctx5 = document.getElementById("radarChart").getContext("2d");
      new Chart(ctx5, {type: 'radar', data: radarData, options:radarOptions});
</script>
