<!DOCTYPE html>
<html>
  <head>
    <title>ChartsApp</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Plataforma para Gestionar tus Proyectos">
    <meta name="author" content="Desarrollos Web Developnest">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">

    <link href="<%= asset_path 'toastr.min.css' %>" rel="stylesheet">
    <link href="<%= asset_path 'animate.css' %>" rel="stylesheet">
    <link href="<%= asset_path 'style.css' %>" rel="stylesheet">
    <link href="<%= asset_path 'bootstrap-tagsinput.css' %>" rel="stylesheet">
    <link href="<%= asset_path 'bootstrap-colorpicker.min.css' %>" rel="stylesheet">
    <link href="<%= asset_path 'chartist.min.css' %>" rel="stylesheet">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <script src="<%= asset_path 'jquery-3.1.1.min.js' %>"></script>
    <script src="<%= asset_path 'popper.min.js' %>"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
    <script src="<%= asset_path 'jquery.metisMenu.js' %>"></script>
    <script src="<%= asset_path 'jquery.slimscroll.min.js' %>"></script>

    <!-- Custom and plugin javascript -->
    <script src="<%= asset_path 'inspinia.js' %>"></script>
    <script src="<%= asset_path 'pace.min.js' %>"></script>
    <script src="<%= asset_path 'wow.min.js' %>"></script>
    <script src="<%= asset_path 'toastr.min.js' %>"></script>
    <script src="<%= asset_path 'Chart.min.js' %>"></script>
    <script src="<%= asset_path 'bootstrap-tagsinput.js' %>"></script>
    <script src="<%= asset_path 'bootstrap-colorpicker.min.js' %>"></script>
    <script src="<%= asset_path 'chartist.min.js' %>"></script>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="top-navigation">
  <div id="wrapper">
    <div id="page-wrapper" class="gray-bg">
      <%= render 'shared/navbar' %>
      <div class="wrapper wrapper-content animated fadeInRight">
        <%= yield %>
      </div>
      <%= render 'shared/footer' %>
    </div>
  </div>
    <script>
      $(document).ready(function() {
        toastr.options = {
          "closeButton": true,
          "debug": false,
          "progressBar": true,
          "preventDuplicates": false,
          "positionClass": "toast-top-right",
          "onclick": null,
          "showDuration": "400",
          "hideDuration": "1000",
          "timeOut": "7000",
          "extendedTimeOut": "1000",
          "showEasing": "swing",
          "hideEasing": "linear"
        }
        <% if flash[:notice].present? %>
          toastr.success('<%= flash[:notice] %>')
        <% elsif flash[:alert].present? %>
          toastr.warning('<%= flash[:alert] %>')
        <% end %>
      })
    </script>
  </body>
</html>
